/* Style for site headers */
h1 {
	/* Inspired by http://www.timoni.org/ */
	font-family :  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight : normal;
	color : white;
    font-size : 5.75em;
	letter-spacing : .2em;
	line-height : 1.1em;
	margin : 0px;
	text-align : center;
	text-transform : uppercase;
}

/* Style for site links */
a {
	width : 10%;
}

h3 {
	text-align : center;
	font-family : georgia, serif;
	font-size : 2em;
	font-weight : bold;
	font-style : italic;
	letter-spacing : 0.1em;
	line-height : 200%;
	padding-top : 11px;
	color : white;
}

h2 {
	/* Inspired by http://www.timoni.org/ */
	font-family :  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight : normal;
	color : black;
    font-size : 3.1em;
	letter-spacing : .2em;
	line-height : 1.1em;
	margin : 0px;
	text-align : center;
	text-transform : uppercase;
}

h2.sub {
	/* Inspired by http://www.timoni.org/ */
	font-family :  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight : normal;
	color : white;
    font-size : 2.5em;
	letter-spacing : .2em;
	line-height : 1.1em;
	margin : 0px;
	text-align : center;
	text-transform : uppercase;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}
  
.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #5bc0de;
  border-color: #5bc0de;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
	background: none;
	padding: 12px 22px;
}
.btn-primary.outline {
	border: 2px solid none;
	color: none;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
	color: none;
	border-color: none;
	background: none
}
.btn-primary.outline:active, .btn-primary.outline.active {
	border-color: none;
	color: none;
	box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
}